<a href="https://colab.research.google.com/github/nnilayy/Regression-Notebook/blob/main/RegressionNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [15]:
# train=pd.read_csv("/content/train.csv")
# test=pd.read_csv("/content/train.csv")

In [16]:
df=pd.read_csv("/content/USA_Housing.csv")
df.shape

(5000, 7)

In [17]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [18]:
df.drop(['Address'],axis=1,inplace=True)

In [19]:
X=df.drop('Price',axis=1)
y=df['Price']

In [20]:
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [21]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [22]:
import warnings
warnings.filterwarnings("ignore")

In [23]:
from sklearn.linear_model import PassiveAggressiveRegressor
from sklearn.datasets import make_regression

from sklearn.linear_model import PoissonRegressor
from sklearn.linear_model import TweedieRegressor
from sklearn.linear_model import GammaRegressor

from sklearn.linear_model import HuberRegressor
from sklearn.linear_model import QuantileRegressor
from sklearn.linear_model import RANSACRegressor
from sklearn.linear_model import TheilSenRegressor

from sklearn.linear_model import MultiTaskElasticNet
from sklearn.linear_model import MultiTaskElasticNetCV
from sklearn.linear_model import MultiTaskLasso
from sklearn.linear_model import MultiTaskLassoCV

# Bayesian Regression
from sklearn.linear_model import ARDRegression
from sklearn.linear_model import BayesianRidge
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import ElasticNetCV
from sklearn.linear_model import Lars
from sklearn.linear_model import LarsCV
from sklearn.linear_model import Lasso
from sklearn.linear_model import LassoCV
from sklearn.linear_model import LassoLars
from sklearn.linear_model import LassoLarsCV
from sklearn.linear_model import LassoLarsIC
from sklearn.linear_model import OrthogonalMatchingPursuit
from sklearn.linear_model import OrthogonalMatchingPursuitCV
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import SGDRegressor
from sklearn.kernel_ridge import KernelRidge
from sklearn.isotonic import IsotonicRegression
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import VotingRegressor
from sklearn.ensemble import StackingRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neighbors import RadiusNeighborsRegressor
from sklearn.dummy import DummyClassifier
from sklearn.dummy import DummyRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.svm import LinearSVR
from sklearn.svm import NuSVR
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import ExtraTreeRegressor

# Regression Metrics 
from sklearn.metrics import mean_absolute_error as mae 
from sklearn.metrics import mean_squared_error as mse 
from sklearn.metrics import r2_score 
models = [
    # BayesianRidge,
    # ElasticNet,
    # ElasticNetCV, 
    # Lars, 
    # LarsCV, 
    # Lasso, 
    # LassoCV, 
    # LassoLars, 
    # LassoLarsCV, 
    # LassoLarsIC, 
    # OrthogonalMatchingPursuit,
    # OrthogonalMatchingPursuitCV, 
    LinearRegression, 
    Ridge,
    # RidgeCV,  
    # VotingRegressor,
    # StackingRegressor, 
    # GradientBoostingRegressor, 
    # ExtraTreesRegressor,
    # BaggingRegressor, 
    # AdaBoostRegressor, 
    # KNeighborsRegressor,
    # RadiusNeighborsRegressor, 
    # DummyRegressor, 
    # MLPRegressor,
    # LinearSVR, 
    # NuSVR, 
    # SVR, 
    # DecisionTreeRegressor, 
    # ExtraTreeRegressor
    ]

# IsotonicRegression, RandomForestRegressor, HistGradientBoostingRegressor, GaussianProcessRegressor, KernelRidge, SGDRegressor, ARDRegression,
metrics = []
for model in models:
  m=model()
  m.fit(X_train,y_train) 
  y_test_pred = m.predict(X_test)
  metrics.append(mae(y_test, y_test_pred))
  print('------------------------------------------------------------------------------------------------------------')
  print('------------------------------------------------------------------------------------------------------------') 
  print(model.__name__)
# Extracting the model name from the models
model_names=[]
for model in models:
  model_names.append(model.__name__)

# Combining the Model Name and Accuracy in a dataframe
# Here Model_Names and Accuracy Both are lists
# acc=pd.DataFrame(list(zip(model_names,accuracy)),columns=['Name','Accuracy'])
acc=pd.DataFrame({'Name':model_names, 'MAE':metrics})

# Arranging the dataframe by the models with the highest accuracy to lowest accuracy
acc=acc.sort_values(by='MAE',ascending=False).reset_index(drop=True)
acc.index = acc.index + 1
acc

------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
LinearRegression
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
Ridge

               Name           MAE
1  LinearRegression  81257.557959
2             Ridge  81235.152636

In [24]:
# train.head()

In [25]:
# X_train = train.drop(['SalePrice'],axis=1)
# y_train = train['SalePrice']
# X_test = test.drop(['SalePrice'],axis=1)
# y_test = test['SalePrice']

In [28]:
# pd.DataFrame()
# df = X_train.isnull().sum()
# .sort_values(ascending=False).head(50)
# df=df[df>0].sort_values(ascending=False)

In [29]:
# df=pd.DataFrame(df)
# df1=df.transpose()
# df1.info()

In [30]:
# X_train['LotFrontage'].fillna(X_train['LotFrontage'])